body {
    background-color: #f0f8ff; 
    font-family: 'Arial', sans-serif;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.register-form {
    border: 1px solid #dcdcdc;
    border-radius: 10px; 
    padding: 40px;
    width: 400px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
    background-color: white; 
}

.register-form h3 {
    text-align: center;
    color: #007BFF; 
    margin-bottom: 20px;
}

.register-form .ant-form-item {
    margin-bottom: 20px; 
}

.register-form .ant-input {
    border-radius: 5px; 
    border: 1px solid #007BFF; 
}

.register-form .ant-input:focus {
    border-color: #0056b3; 
}

.btn {
    width: 100%; 
    background-color: #007BFF; 
    color: white;
    border: none;
    border-radius: 5px; 
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s; 
}

.btn:hover {
    background-color: #0056b3; 
}

.link {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #007BFF;
}

.link:hover {
    text-decoration: underline; 
}